blinker
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
Flask-JWT-Extended
idna
itsdangerous
Jinja2
MarkupSafe
PyJWT
pymongo
PyYAML
requests
six
urllib3
waitress
Werkzeug
Gunicorn
